<header>
    <section id="showcase">
        <div class="container">
            <div class="row-fluid">
                <div class="col-md-12">
                    <h1>Let Lyrical bring your favorite <br> Music Artist to Life</h1>
                    <p> Search for your Favorite Music Artist and Songs</p>
                </div>
    </section>
</header>
<section id="boxes">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <a href="/newrelease">
                    <img class="img-responsive" src="./img/radioman.jpg">
                    <h3>Music Video</h3>
                </a>
            </div>
            <div class="col-md-4">
                <a href="/showartist">
                    <img class="img-responsive" src="./img/guitarist.jpg">
                    <h3>Artists</h3>
                </a>
            </div>
            <div class="col-md-4">
                <a href="/showsong">
                    <img class="img-responsive" src="./img/dj.jpg">
                    <h3>Songs</h3>
                </a>
            </div>
        </div>
    </div>
</section>
