<section id="artistbg">
    <div class="container">
        <div class="row-fluid">
            <div class="col-md-12">
                <h1>Lyrics</h1>
            </div>
        </div>
    </div>
    <div class="container">
        <form ng-submit="search()" class="text-center">
            <input class="form-control" type="text" ng-model='artist' placeholder="Enter Artist Name">
            <br>
            <input class="form-control" type="text" ng-model='title' placeholder="Enter Song Title">
            <br>
            <button type='submit' class="btn button_1 btn-lg">Search</button>
        </form>
    </div>
</section>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <a href="{{songInfo.trackViewUrl}}">
                <h3>{{songInfo.collectionName}}</h3>
                <h4>{{songInfo.artistName}}</h4>
                <img class="artwork" ng-src="{{songInfo.artworkUrl100}}">
            </a>
        </div>
        <div class="col-md-8">
            <blockquote class="lead">{{test.lyrics_body}}</blockquote>
        </div>
    </div>
</div>
