

    <section id="newsletter">
      <div class="container">
      </div>
    </section>
        <div class="container-fluid">
        <div class="row">
        <h1 class="text-center">Songs</h1>
            <div id="albumborder" class="col-md-12">
              <div ng-repeat="test in test">
              <div id="albuminfo" class="col-md-6">
              <h4><span class="text-danger">{{test.artistName}}</span> - {{test.trackName}}</h4>
              <h4 class="text-info">{{test.collectionName}}</h4>
              <img class="img-responsive" ng-src="{{test.artworkUrl100}}" alt="">
              <h5><a href="{{test.previewUrl}}">Preview</a></h5>
              <h5><a href="{{test.trackViewUrl}}">iTunes</a></h5>
              </div>
              </div>
            </div>
          </div>
        </div>