<section id="artistbg">
  <div class="container">
    <div class="row-fluid">
      <div class="col-md-12">
        <h1 class="text-center">Artist</h1>
      </div>
    </section>
    <section id="newsletter">
      <div class="container">
      </div>
    </section>
    <div class="container-fluid">
      <div class="row-fluid">
        <div id="albumborder" class="col-md-12">
          <div ng-repeat="test in test">
            <div id="albuminfo" class="col-md-6">
              <h4><span class="text-danger">{{test.artistName}}</span></h4>
              <h4 class="text-info">
                <a href="{{test.artistLinkUrl}}">Artist Info</a></h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
