<section id="artistbg">
    <div class="container">
        <div class="row-fluid">
            <div class="col-md-12">
                <h1>Song</h1>
            </div>
        </div>
    </div>
</section>
<div class="container">
    <div class="row">
        <hr>
        <div ng-repeat="test in test">
            <div id="content" class="col-md-4">
                <h4><span class="text-info">{{test.trackName}}</span> <span class="text-danger"> by {{test.artistName}}</span></h4>
                <img src="{{test.artworkUrl60}}" alt="">
                <a href="{{test.previewUrl}}" class="glyphicon glyphicon-play btn button_1">PlaySong</a>
            </div>
        </div>
    </div>
</div>
