<!-- <section id="artistbg">
    <div class="container">
        <div class="row-fluid">
            <div class="col-md-12">
                <h1 class="text-center">Music Video</h1>
            </div>
</section>
<div class="container-fluid">
    <div class="row">
        <h1 class="text-center">Music Video</h1>
        <div id="albumborder" class="col-md-12">
            <div ng-repeat="test in test">
                <div id="albuminfo" class="col-md-6">
                    <img class="img-responsive" ng-src="{{test.artworkUrl100}}" alt="artworkUrl100">
                    <h4><span class="text-danger">{{test.artistName}}</span> - {{test.trackName}}</h4>
                    <h4 class="text-info">{{test.collectionName}}</h4>
                    <h5><a href="{{test.previewUrl}}">Preview</a></h5>
                    <h5><a href="{{test.trackViewUrl}}">iTunes</a></h5>
                </div>
            </div>
        </div>
    </div>
</div>
 -->



<section id="artistbg">
    <div class="container">
        <div class="row-fluid">
            <div class="col-md-12">
                <h1>Music Video</h1>
            </div>
        </div>
    </div>
</section>



<div class="container">
    <div class="row">
        <hr>
        <div ng-repeat="test in test">
            <div id="content" class="col-md-6">
                <img class="artwork" ng-src="{{test.artworkUrl100}}">
                <h4 class="text-danger">{{test.trackName}}<span class="text-info"> by {{test.artistName}}</span></h4>
                <a target="__blank" href="{{test.previewUrl}}" class="glyphicon glyphicon-play btn btn-lg button_1">PlayVideo</a>
            </div>
        </div>
    </div>
</div>

